Django>=6.0
django-cors-headers>=4.7
djangorestframework>=3.16
djangorestframework-simplejwt>=5.5
PyMySQL>=1.1
python-dotenv>=1.1
mysqlclient>=2.2
langchain-openai>=1.0
langchain-community>=0.4
langchain-text-splitters>=1.0
openai>=2.0
pyarrow>=21.0
pylance>=0.40
lancedb>=0.20
langgraph>=1.0
langgraph-checkpoint>=3.0
pypdf>=5.0
docx2txt>=0.8
